
p {
	font-family: 'NunitoSans-Regular';
	font-size: 24px;

}

h3 {
	margin-top: 0;
}

h1 {
	font-family: 'NunitoSans-ExtraBold';
	margin-bottom: 50px;
	display: inline-block;
	margin-top: 0;
	text-transform: uppercase;
	color: $darker-gray-color;
	font-size: 38px;
}


.container {
	width: 100%;
	max-width: 1500px;
	margin: auto;
}

.h-wrap {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* VIDEO  */

#supervideo-playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    outline: none;
    border-radius: 50%;

}

#supervideo-playbutton {
    background-color: #fff !important;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    &:hover {
    	background-color: #e6e6e6 !important;
    }
}
#supervideo-playbutton::after {
 	font-family: "Font Awesome 5 Free";
    content: "\f04b";
    font-size: 30px;
    font-weight: 900;
    color: #8c8c8c;
}


.video {
	position: relative;
	overflow: hidden;
	.video-text {
		position: absolute;
		z-index: 5;
		top: 30%;
		right: 10%;
		width: 30%;
		h3 {
			color: $white-color;
			font-family: 'NunitoSans-Bold';
			font-size: 38px;
		}
		p {
			color: $white-color;
		}
		a {
			border-radius: 7px;
			background: $white-color;
			color: $dark-gray-color;
			padding: 30px 160px;
			display: inline-block;
			font-family: 'NunitoSans-ExtraBold';
			font-size: 25px; 
			text-align: center;
			border: 1px solid $white-color;
			margin-top: 60px;
			&:hover {
			background: transparent;
			color: $white-color;
			}
		}
	}
	video {
		width: 100%;
	}
	.fa-angle-down {
		position: absolute;
		left: 50%;
		bottom: 50px;
		color: $white-color;
		font-size: 30px;
	}
}


.mg-left {
	margin-left: -50px;
}


.main {
	padding-top: 140px;
	text-align: center;
}


.shadow {
	-webkit-box-shadow: 0px 1px 5px 0px rgba(201,199,201,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(201,199,201,1);
    box-shadow: 0px 1px 5px 0px rgba(201,199,201,1);
    overflow: hidden;
    border-radius: 7px;
    &:hover {
    	@include transition (all, 0.3s);
		-webkit-box-shadow: 0px 1px 9px 0px rgba(168,165,168,1);
		-moz-box-shadow: 0px 1px 9px 0px rgba(168,165,168,1);
		box-shadow: 0px 1px 9px 0px rgba(168,165,168,1);
		img {
    	transform: scale(1.1);
    	@include transition (all, 0.3s);
	}
	}
	.img-box {
		height: 300px;
		overflow: hidden;
	}
}

.box {
	width: 33.333%;
	padding-left: 50px;
	padding-top: 60px;
	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		@include transition (all, 0.3s);
	}
	.box-text {
		padding: 40px;
		text-align: left;
		p {
			margin-top: 0;
			color: $button-color;
		}
		.more {
			border-radius: 7px;
			text-transform: uppercase;
			font-family: 'NunitoSans-ExtraBold';
			color: $white-color;
			background: $button-color;
			display: inherit;
			text-align: center;
    		padding: 20px 85px;
    		margin: auto;
    		margin-top: 70px;
    		width: 270px;
    		font-size: 18px;
    		border: 1px solid $dark-gray-color;
    		&:hover {
			color: $dark-gray-color;
			background: $white-color;
		}
		}
	}
}


.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	margin-top: 130px;
	position: relative;
	img {
		width: 100%;
		height: 95px;
		object-fit: cover;
	}
	.owl-nav {
		position: relative;
		.owl-prev {
			position: absolute;
			left: -37px;
    		bottom: 125px;
    		font-size: 25px;
    		color: $light-gray-color;
    		cursor: pointer;
		}
		.owl-next {
			position: absolute;
			right: -37px;
    		bottom: 125px;
    		font-size: 25px;
    		color: $light-gray-color;
    		cursor: pointer;
		}
	}
	.owl-theme .owl-dots .owl-dot span {
	    width: 8px;
	    height: 8px;
	    margin: 0;
	    margin: auto;
	    background: transparent;
	}
	.owl-theme .owl-dots .owl-dot.active span {
	    background: $light-gray-color;
	}
	.owl-theme .owl-dots .owl-dot {
		border: 1px solid $light-gray-color;
	    border-radius: 50%;
	    width: 18px;
	    height: 18px;
	    margin: 0 2px;
	}
	.owl-theme .owl-nav.disabled+.owl-dots {
    	margin-top: 70px;
	}

}

.s-text {
	width: 60%;
	margin: auto;
}

/* footer */

footer {
	margin: 125px 0 140px;
}

.f-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.footer-logo {
	width: 50%;
	.f-logo {
		padding: 25px;
		width: 225px;
		height: 70px;
		background: $black-color;
		color: $white-color;
		text-align: center;
	    font-family: 'NunitoSans-Light';
	    text-transform: uppercase;
	}
}


.f-links {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	div:first-child {
			padding-left: 0;
	} 
	div {
		padding-left: 80px;
		span {
			text-transform: uppercase;
			font-family: 'NunitoSans-Regular';
			font-size: 14px;
			color: $dark-gray-color;
		}
	}
	div:first-child span {
		text-transform: capitalize;
	}
	ul li a {
		font-family: 'NunitoSans-Regular';
		font-size: 14px;
		color: $button-color;
		margin-bottom: 10px;
	}
}

.f-social {
	width: 100%;
	text-align: right;
	padding: 15px 0;
	border-bottom: 1px solid $light-gray-color;
	ul li {
		display: inline-block;
		margin-left: 45px;
		a {
			color: $dark-gray-color;
			font-size: 25px;
			&:hover {
			color: $darker-gray-color;
		}
		}
	}
}

.under-footer {
	h3 {
		padding: 50px 0;
		text-transform: uppercase;
		font-family: 'NunitoSans-Bold';
		font-size: 20px;
		color: $darker-gray-color;
	}
	form {
		width: 50%;
		input {
			border: none;
			padding: 15px;
			border-radius: 7px;
			width: 260px;
			-webkit-box-shadow: 0px 0px 3px 0px rgba(147,147,147,1);
			-moz-box-shadow: 0px 0px 3px 0px rgba(147,147,147,1);
			box-shadow: 0px 0px 3px 0px rgba(147,147,147,1);
		}
	}
	.form-button {
		background: $form-button;
		color: $dark-gray-color;
		border: none;
		box-shadow: none;
		cursor: pointer;
		width: 200px;
		margin-left: 10px;
		font-family: 'NunitoSans-ExtraBold';
		&:hover {
			@include transition (all, 0.3s);
		}
		&:hover {
			background: $dark-gray-color;
			color: $white-color;
		}
	}
	.copy {
		font-family: 'NunitoSans-Regular';
		font-size: 14px;
		color: $light-gray-color;
		width: 50%;
		 display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
	}
}

/* BACK TO TOP */

.scrollToTop {
  	position: fixed;
  	z-index: 4;
  	top: 50%;
  	right: 35px;
  	display: none;
  	cursor: pointer;
  	-webkit-transition: all .5s;
}

.fa-arrow-up {
   font-size: 25px;
   color: $darker-gray-color;
   -webkit-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s;
}



/* RESPONSIVE CSS */

@media only screen and (max-width: 1600px) {
	h1 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
	.container {
		padding: 0 15px;
	}
	.video .video-text {
		right: 5%;
		a {
		    padding: 15px 120px;
		    font-size: 20px;	
		}
	}
	.main {
		padding-top: 50px;
	}
	.box {
	    padding-top: 30px;
	    .box-text {
	    	padding: 25px;
	    	.more {
	    		width: 220px;
	    		padding: 15px 70px;
	    		margin-top: 50px;
	    	}
	    }
	}

	.wrapper {
		max-width: 1300px;
		margin-top: 70px;
	}
	footer {
		margin: 50px 0;
	}
}

@media only screen and (max-width: 1450px) {
	header .logo {
	    width: 160px;
	    padding: 15px;
	}
	.wrapper {
		width: 80%;
	}
	.under-footer h3 {
	    padding: 25px 0;
	}
}

@media only screen and (max-width: 1200px) {
	.video .video-text {
	    right: 15px;
	    width: 43%;
	    a {
			margin-top: 25px;
		}
	}
	.f-links div {
	    padding-left: 50px;
	}
}


@media only screen and (max-width: 992px) {
	.video .video-text {
		width: 100%;
		right: 0;
		padding: 0 15px;
		text-align: center;
		top: auto;
		bottom: 25px;
	}
	#supervideo-playbutton {
		z-index: 5;
	    bottom: 0px;
	    top: auto;
	    left: 64px;
	    width: 60px;
	    height: 60px;
	}
	h1 {
		font-size: 25px;
		margin-bottom: 0;
	}
	.main {
	    padding-top: 25px;
	}
	.box {
		width: 50%;
	}
	.s-text {
		width: 100%;
	}
	footer {
	    margin: 25px 0;
	}
	.footer-logo {
		margin-bottom: 20px;
		width: 100%;
	}
	.f-links {
		width: 100%;
		margin-top: 20px;	
	}
	.under-footer h3 {
	    padding: 15px 0;
	}
}

@media only screen and (max-width: 768px) {
	.video {
		video {
			width: auto;
			height: 550px;
		}
		.video-text {
			h3 {
				margin-bottom: 10px;
			}
			a {
				padding: 10px 70px;
			}
		}
		#supervideo-playbutton {
			width: 50px;
			height: 50px;
			left: 45px;
		}
	}

	.box {
		width: 100%;
		.box-text {
			.more {
				width: 170px;
			    padding: 10px 30px;
			    margin-top: 25px;
			}
		}
		.shadow {
			.img-box, img {
				height: 200px;
			}
		}
	}

	.wrapper {
		.owl-theme .owl-nav.disabled + .owl-dots {
			margin-top: 20px;
		}
		.owl-nav .owl-prev {
			bottom: 75px;
			left: -30px;
		}
		.owl-nav .owl-next {
			bottom: 75px;
			right: -30px;
		}
	}
	.f-links {
		div {
			width: 100%;
			padding-left: 0;
			margin-top: 0;
		} 	
	}
	.f-logo {
	    margin-bottom: 0;
	}
	.f-social {
		padding: 0;
		text-align: center;
		ul li:first-child {
			margin-left: 0;
		}
	}
	.under-footer {
		text-align: center;
		.form, .copy {
			position: relative;
			width: 100%;
			text-align: center;
		}
		.copy {
			margin-top: 20px;
		}
		.form input {
			width: 100%;
		}
		.form .form-button {
			position: absolute;
			right: 0;
			top: 0;
			width: 30%;
			padding: 13.5px;
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}
}